.project-page{
    padding-inline: 7vw;
    padding-top:2vw;
    padding-bottom: 6vw;

}
.project-page-h1{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 80px;

}
@media screen and (max-width:768px) {
    .project-page-h1{
        padding-top: 30px;
    }
}